rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Default security rule: require authentication
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
