@use '@angular/material' as mat;
@use 'theme-colors' as tc;
@use 'ng-material';
@use 'base';
@use 'fonts';

html {
  height: 100%;
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        theme-type: color-scheme,
        primary: tc.$primary-palette,
        tertiary: tc.$tertiary-palette,
      ),
      typography: 'Google Sans Flex',
      density: 0,
    )
  );
}
